@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    padding: 2rem;
    background-color: #0084b4;
    color: #fff;
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 900;
    margin: 2rem 0 5rem 0;

}

h3 {
    text-align: center;
    margin: 5rem 0 1rem 0;
}

#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#savage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.twitter-items {
    width: 35rem;
    height: auto;
    margin: 1.4rem;
}

@media all and (max-width: 425px) {
    .twitter-items {
        width: 28rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0;

    }

    h3 {
       margin-top: 3.4rem;
    }
}